<h2>Login</h2>

<!-- print out an error message, if the session controller set one -->

<% if flash[:error] %>
<br>
<strong>
  <%= flash[:error] %>
</strong>
<br>
<br>
<% end %>

<!-- we can also use form_with for generic forms, ie: forms not connected to a model - to do this we user url, someurl instead of model -->

<%= form_with url: login_path, local: true do |f| %>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <br>



  <%= f.submit 'Login' %>

<% end %>
